
<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":66.66} -->
<div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:html -->
<a href="tel:1-216-623-2889"><strong>PH:</strong> (216) 623-2800</a>
<br /><a href="tel:1-216-623-2889">After hours emergency contact: (216) 623-2889</a><br /><br />
<table class="hours">
	<tbody><tr>
		<td colspan="2" class="title">Library Service Hours </td>
	</tr><tr>
		<td>Mon-Sat</td>
		<td>10am–6pm</td>
	</tr><tr>
		<td>Sun</td>
		<td>Closed</td>
	</tr>
</tbody></table>
<table class="hours">
	<tbody><tr>
		<td colspan="2" class="title">Main Drive Up Window</td>
	</tr><tr>
		<td>Mon-Fri</td>
		<td>7am–7pm</td>
	</tr><tr>
		<td>Sat</td>
		<td>10am–6pm</td>
	</tr><tr>
		<td>Sun</td>
		<td>Closed</td>
	</tr>
</tbody></table>
<table class="hours">
	<tbody><tr>
		<td colspan="2" class="title">Live Reference Chat</td>
	</tr><tr>
		<td>Mon-Sat</td>
		<td>10am–6pm</td>
	</tr>
</tbody></table>
<!--
<table class="hours">
	<tr>
		<td colspan="2" class="title">Main Library Hours</td>
	</tr><tr>
All locations are only providing curbside service from 10a-6p on Mon-Sat
Live reference chat is available 10-6 Mon-Sat.
		<td>Mon-Sat:</td>
		<td>10:00am to 6:00pm</td>
	</tr><tr>
		<td>Drive Up Window:</td>
		<td>7:00am to 7:00pm</td>
	</tr>
</table>

<table class="hours">
	<tr>
		<td class="title">Branch Hours</td>
	</tr><tr>
		<td>Mon, Tue, Thu:</td>
		<td>10:00am to 7:00pm</td>
	</tr><tr>
		<td>Wed, Fri, Sat:</td>
		<td>10:00am to 6:00pm</td>
	</tr>
</table> -->
<!-- /wp:html -->

<!-- wp:html -->
<strong> Hi, Mom! </strong>
<!-- /wp:html -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column -->

<!-- wp:column {"width":33.33} -->
<div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:social-links -->
<ul class="wp-block-social-links"><!-- wp:social-link {"url":"https://wordpress.org","service":"wordpress"} /-->

<!-- wp:social-link {"url":"facebook.com","service":"facebook"} /-->

<!-- wp:social-link {"url":"twitter.com/cleveland_pl","service":"twitter"} /-->

<!-- wp:social-link {"url":"instagram.com/clevelandpubliclibrary","service":"instagram"} /-->

<!-- wp:social-link {"service":"linkedin"} /-->

<!-- wp:social-link {"service":"youtube"} /--></ul>
<!-- /wp:social-links -->

<!-- wp:list -->
<ul><li></li></ul>
<!-- /wp:list --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->
